/* Font Size */
$application-name-font-size: 26px;
$app-title-font-size:64px;
//$description-font-size:15px;
$name-font-size:20px;
$detail-font-size:15px;


$create-header-font-size:20px;
$createPost-content-font-size:16px;
$createPageTitle-font-size:30px;


/* Font Color */

$application-name-color: white;
$add-icon-click-color:pink;
$app-title-color:rgb(240, 134, 73);
$border-color: black;
$post-title-color:black;
$post-author-color:rgb(102, 84, 84);
$post-content-color:black;

$navbar-background-color:rgb(247, 163, 114);
$post-background-color:rgb(226, 245, 245);
$post-border-color:black;

/* Font Family */

$application-name-font-family:'Rye', sans-serif;
$app-title-font-family:'Rye', cursive;
$description-font-family:'Amatic SC',sans-serif;
$contact-name-font-family:'Montserrat', cursive;
$button-font-family:'Raleway', sans-serif;
$post-content-font-family:'Open Sans Condensed', sans-serif;
$create-header-font-family:'Montserrat', sans-serif;
$createPageTitle-font-family:'Montserrat', sans-serif;


